body {
    background-color: white;
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

#splash {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
}

#title {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    font-size: 22px
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade /* Safari and Chrome */
{
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1.0;
    }
}
