body, html, #container {
    width: 100%;
    height: 100%;
    margin: 0
}

#my_location {
    position: absolute;
    margin: auto;
    bottom: 30px;
    left: 8px;
    width: 40px;
    height: 40px;
    padding: 1px;
}

#nearby_station {
    position: absolute;
    margin: auto;
    bottom: 80px;
    left: 8px;
    width: 40px;
    height: 40px;
    padding: 4px;
}

#search_bar {
    position: absolute;
    top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.search_bar_panel {
    margin: 0;
    padding: 0;
    height: 48px;
}

#search_button {
    position: absolute;
    top: 10px;
    left: 8px;
    background-color: transparent;
    border: transparent;
    font-size: 26px;
}

#search_label {
    background-color: transparent;
    border: transparent;
    padding-left: 56px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    width: 100%;
}