.theme_bg_color {
    background-color: #26a69a !important;
}

.theme_color {
    color: #26a69a !important;
}

.theme_border_color {
    border-color: #26a69a !important;
}

.theme_bg_color.accent {
    background-color: #4db6ac !important;
}

.theme_color.accent {
    color: #4db6ac !important;
}

.theme_border_color.accent {
    border-color: #4db6ac !important;
}

.theme_bg_color.dark {
    background-color: #009688 !important;
}

.theme_color.dark {
    color: #009688 !important;
}

.theme_border_color.dark {
    border-color: #009688 !important;
}

.bg_grey {
    background-color: #eeeeee
}

.text_color_primary {
    color: #212121
}

.text_color_secondary {
    color: #727272
}

.margin_left_16 {
    margin-left: 16px;
}

.margin_right_0 {
    margin-left: 0;
}

.margin_left_0 {
    margin-left: 0;
}

.margin_top_bottom_16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin_bottom_0 {
    margin-bottom: 0;
}

.icon_align_center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg_loading {
    width: 100%;
    height: 100%;
    filter: Alpha(Opacity=10, Style=0);
    opacity: 0.50;
    visibility: hidden;
}

.loading_panel {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    width: 220px;
    height: 80px;
    float: left;
    visibility: hidden;
}

.title {
    height: 56px;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #26a69a;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

